.button {
  background-color: transparent;
  border: 1px solid #8f96a3;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: default;
  font-family: inherit;
  font-size: 12px;
  font-weight: bold;
  height: 22px;
  min-width: 96px;
  padding: 0 0px;
  margin: 0px;
  user-select: none;
  white-space: nowrap;
  text-align: center;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  outline: none;

}

.button:disabled {
  border: 1px solid #bbbbbb;
}

.button:enabled:hover {
  background: #ebebeb;
}

.button:enabled:active {
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-color: #666;
  border-radius: 2px;
  box-sizing: border-box;
  color: #666;
  cursor: default;
  font-family: inherit;
  font-size: 12px;
  font-weight: bold;
  height: 22px;
  min-width: 96px;
  user-select: none;
  white-space: nowrap;
  border: none;
  -moz-box-shadow: 0 0 2px rgb(254, 71, 71);
  -webkit-box-shadow: 0 0 2px rgb(254, 71, 71);
  box-shadow: 0 0 2px rgb(254, 71, 71);
}